<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= @title + ' | Recall ' %></title>
    <link rel="stylesheet" href="/style.css" media="all">
</head>
<body>
    <header>
        <hgroup>
            <h1><a href="#">Recall</a></h1>
            <h2>too busy to remember</h2>
        </hgroup>
    </header>
    <div id="main">
        <%= yield %>
    </div>
    <footer>
        <p><small>ArmNo is learning Sinatra</small></p>
    </footer>
</body>
</html>